{% extends 'layout.html.twig' %}



{% block content %}
    <div class="container">
        <div class="pillars"><img src="/assets/images/greek-pillars1.png/"><h1 class="text-center text-light py-5">Choose your Favorite One</h1><img src="/assets/images/greek-pillars1.png/"></div>
        <div class="row">
            {% for category in categories.drinks %}
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <img src="{{ category.strDrinkThumb }}" class="card-img-top" alt="cocktail">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{ category.strDrink }}</h5>
                            <a href="/Ingredients/recipe/{{ category.idDrink }}" class="btn btn-info">Make it !</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}