{% extends 'layout.html.twig' %}


{% block content %}
    <div class="container-fluid">
       <div class="pillars"><img src="/assets/images/greek-pillars.png/"><h1 class="text-center py-5">Categories</h1><img class="pillars" src="/assets/images/greek-pillars.png/"></div>
            <div class="row">
                {% for cocktail in cocktails.drinks %}
                <div class="col-12 col-lg-3">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1582993232955-39424b2cef01?ixlib=rb-1.2.1&ixid=eyJh
                        cHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="cocktail">
                        <div class="card-body">
                            <h5 class="card-title">{{ cocktail.strCategory }}</h5>
                            <a href="/cocktails/show/{{ cocktail.strCategory }}" class="btn">See this category</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
         </div>
{% endblock %}