{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/drinks.css">
{% endblock %}

{%  block content %}
    <h2>An army of cocktails </h2>
    <section class="container">
    <div class="grid">
        <div class="image"><img src="/assets/images/drinks/cocktail5.jpg" alt=""></div>
        <div class="image"> <img src="/assets/images/drinks/cocktail6.jpg" alt=""></div>
        <div class="image"><img src="/assets/images/drinks/cocktail7.jpg" alt=""></div>
        <div class="image"><img src="/assets/images/drinks/cocktail8.jpg" alt=""></div>
        <div class="image"> <img src="/assets/images/drinks/cocktail9.jpg" alt=""></div>
        <div class="image"> <img src="/assets/images/drinks/cocktail10.jpg" alt=""></div>
    </div>
    </section>
{% endblock %}