{% extends 'layout.html.twig' %}


{% block content %}
    <div class="container-fluid">
        <h1 class="text-center text-light py-5">Make it!</h1>
        <div class="row justify-content-center">
            {% for ingredient in ingredients.drinks %}
                <div class="col-12 col-lg-6 text-center d-flex justify-content-center">
                    <div class="card">
                        <img src="{{ ingredient.strDrinkThumb }}" class="card-img-top" alt="cocktail">
                        <div class="card-body">
                            <h5 class="card-title">{{ ingredient.strDrink }}</h5>
                            <h4 <span class="badge badge-info py-2 px-2"></span>Instructions</h4>
                            <p>{{ ingredient.strInstructions }}</p>
                            <h4 <span class="badge badge-info py-2 px-2"></span>Ingredients</h4>
                                <div>{{ ingredient.strIngredient1 ~ ' ' ~',' ~ ' ' ~ ingredient.strIngredient2  ~ ' ' ~',' ~ ' ' ~
                                    ingredient.strIngredient3 ~ ' ' ~',' ~ ' ' ~ ingredient.strIngredient4 ~ ' ' ~',' ~ ' ' ~ ingredient.strIngredient5 }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}