{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="text-center">TOP 3 des meilleurs cocktail</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <h2 class="text-center">Cocktail 1</h2>
                    <img src="https://via.placeholder.com/320" alt="image1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur
                        beatae consequuntur debitis dolorum ducimus ea, exercitationem expedita illo incidunt
                        nam nisi pariatur quasi quos sit tempore, vel voluptates.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <h2 class="text-center">Cocktail 2</h2>
                    <img src="https://via.placeholder.com/320" alt="image1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur
                        beatae consequuntur debitis dolorum ducimus ea, exercitationem expedita illo incidunt
                        nam nisi pariatur quasi quos sit tempore, vel voluptates.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <h2 class="text-center">Cocktail 3</h2>
                    <img src="https://via.placeholder.com/320" alt="image1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur
                        beatae consequuntur debitis dolorum ducimus ea, exercitationem expedita illo incidunt
                        nam nisi pariatur quasi quos sit tempore, vel voluptates.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

