.background {
    background-color: var(--card-background);
}

.carousel-item > img {
    border : 5px solid var(--dark) ;
}

.container {
    text-align: center;
}

#thirsty {
    margin: var(--spacing-4) 0;
}

h1 {
    font-family: var(--font-title);
    text-align: center;
    margin: var(--spacing-4);
    color : var(--secondary-color);
    padding: var(--spacing-4);
}

h2 {
    font-family: var(--font-title);
    text-align: center;
    margin: calc(var(--spacing-4) + var(--spacing-2)) var(--spacing-4);
    color : var(--secondary-color);
    padding: var(--spacing-4);
}

h3 {
    font-family: var(--font-title);
    color : var(--secondary-color);
    padding-bottom: var(--spacing-2);
    border-bottom: 2px solid var(--secondary-color);
}

.concept-part1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--spacing-4) + var(--spacing-4));
}

.concept-part2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: calc(var(--spacing-4) + var(--spacing-4));
}

.concept-part3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--spacing-4) + var(--spacing-4));
}

.text1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin : 0 calc(var(--spacing-4) + var(--spacing-4));
}

.text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin : 0 calc(var(--spacing-4) + var(--spacing-4));
}

.text3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin : 0 calc(var(--spacing-4) + var(--spacing-4));
}
