@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');


:root {
    --primary-color: #e0cda9;
    --secondary-color: #e3a422;
    --light : #fffefc;
    --dark : #1c1504;
    --title-color: #9a0405;
    --spacing:8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-3:calc(var(--spacing) * 3);
    --spacing-4:calc(var(--spacing) * 4);
    --font-text: 'Modern Antiqua', cursive;
    --font-title: 'Cinzel', serif;
    --text-color: #dc3545;
    --card-background: rgba(255, 254, 252, 0.9);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-text);
    color: var(--text-color);
    background-image: url('/assets/images/coliseum.jpg');
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    background-position: bottom;
}

.navbar {
    width: 100vw;
    top:0;
    margin-bottom: var(--spacing-3);
}

.navbar a {
    font-weight: bold;
    font-size: var(--spacing-3);
    margin-left: 50px;
}

.card img{
    border-radius: 0;
}

.card {
    margin-bottom: 40px;
}

/* footer */
footer {
    background-color: var(--light);
    height: 160px;
    width: 80vh;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.copyright {
    margin-bottom: 0;
}

footer,.row{
    margin: 0;
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: none;
    color: var(--text-color);
}

.pillars {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-4) 0;
}

.btn {
    background-color: var(--text-color);
    color: var(--light);

}

.btn:hover {
    background-color: var(--light);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.badge {
    background-color: var(--secondary-color);
    color: var(--light);
}

/* end-footer */

