{% block footer %}
    <footer class="container-fluid row d-flex justify-content-around align-items-center col-lg-12">
        <span class="border-left border-warning">
        <p class="copyright text-center col-sm-8 col-lg-auto">Copyright © MMXX WCS. All rights reserved</p>
        </span>
        <span class="border-left border-warning">
        <a class="legalMentions text-center col-sm-6 col-lg-auto" href="#">Legal mentions</a>
        </span>
        <span class="border-left border-warning">
        <a class="termOfSales text-center col-sm-6 col-lg-auto" href="#">Selling policies</a>
        </span>

        <div class="d-flex justify-content-around col-sm-2 col-2 col-lg-auto">
                <img src="/assets/images/-18.png" class="img-18">

                <a href="#top"><img class="amphoraImage" src="/assets/images/amphora.png"></a>
        </div>
    </footer>
{% endblock %}